.payment-packages {
	margin-bottom: 30px;
}

.payment-packages .package {
	height: 460px;
	position: relative;
	background: transparent url("../images/payment-icons.png") bottom center no-repeat;
	background-position: right 50% bottom 30px
}

.payment-packages .package-1 {
	background-color: #e1eef6;
}
.payment-packages .package-2 {
	background-color: #81b8df;
	color: #fff;
}
.payment-packages .package-3 {
	background-color: #4397d5;
	color: #fff;
}
.payment-packages .package-2 .amount,
.payment-packages .package-3 .amount {
	border-color: #fff;
}

.payment-packages .item-wrap {
	padding: 44px 20px 30px;
}

.payment-packages .title {
	font-size: 32px;
	line-height: 32px;
	margin: 0 0 55px;
}

.payment-packages h4.title {
	font-size: 38px;
}

.payment-packages .amount {
	font-family: 'bebas-bold';
	font-size: 52px;
	line-height: 52px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 3px solid #0476c7;
}

.payment-packages .description {
	font-size: 0.9em;
}

.payment-packages a {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #0476c7;
	opacity: 0;
}

.payment-packages a:hover {
	opacity: .1;
}

.payment-packages .package-indie {
	border: 2px solid #0476c7;
	background: transparent;
}

.package-indie .amount {
	padding-left: 140px;
}

.package-indie .description {
	color: #000;
	font-size: 1em;
}

.donation-popup h3.title {
	font-family: 'dinpro';
	text-align: center;
	display: block;
	margin: 35px auto;
}

.donation-popup .terms {
	width: 100%;
	max-width: 440px;
	height: 150px;
	margin: 0 auto;
	overflow: auto;
	border: 1px solid #0476c7;
	font-size: 0.9em;
	margin-bottom: 15px;
	padding: 10px 7px;
	text-align: left;
}

.donation-popup .has-error .help-block {
	display: block;
}

.donation-popup .help-block {
	display: none;
	text-align: center;
}

.donation-popup .info-block {
	width: 100%;
	max-width: 440px;
	margin: 0 auto 20px;
	text-align: left;
	font-size: 1.1em;
}

.form-group-submit {
	margin: 30px 0;
}

.custom-control {
    position: relative;
    display: inline-block;
    padding-left: 47px;
    cursor: pointer;
}

.custom-checkbox .custom-control-input:checked~.custom-control-indicator {
    background-image: url(data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path fill='#fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/></svg>);
}
.custom-control-input:checked~.custom-control-indicator {
    color: #fff;
    background-color: #0074d9;
}
.custom-checkbox .custom-control-indicator {
    border-radius: .25rem;
}

.custom-checkbox {
	width: 100%;
	max-width: 440px;
	margin: 0 auto;
	display: block;
}

.custom-control-indicator {
    position: absolute;
    top: .25rem;
    left: 22px;
    display: block;
    width: 17px;
    height: 17px;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: 50% 50%;
    background-size: 50% 50%;
    border: 2px solid #0074d9;
}

.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox .custom-control-description {
	font-weight: normal;
	font-size: 1.15em;
}

.custom-control-input:focus~.custom-control-indicator {
    -webkit-box-shadow: 0 0 0 .075em #fff,0 0 0 .2em #0074d9;
    box-shadow: 0 0 0 .075em #fff,0 0 0 .2em #0074d9;
}
